.title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.list {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    list-style: none;
    row-gap: 2.5rem;
}

.card {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    text-decoration: none;
}

.cardPreview {
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    border: 1px solid hsl(215deg 20% 80%);
    background-color: hsl(215deg 15% 94%);
    border-radius: 7px;
    user-select: none;
}

.cardPreviewImage {
    -webkit-user-drag: none;
}

.cardTitle {
    margin-top: 0.5rem;
    color: var(--base-color);
    font-size: 1.25rem;
    font-weight: 500;
}

.card:focus-visible {
    outline: none;
}

.card:focus-visible .cardPreview {
    outline: 2px solid var(--base-outline);
}

.card:focus-visible .cardTitle {
    color: var(--accent-color);
}

@media screen and (max-width: 480px) {
    .list {
        column-gap: 1.5rem;
    }

    .cardTitle {
        font-size: 1.5rem;
    }
}
