.footer {
    margin-top: 1rem;
}

.layout {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-top: 1px solid var(--gray-200);
}

.layoutLeft,
.layoutRight {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.columnTitle {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.description {
    color: var(--faint-color);
    font-size: 0.875rem;
    line-height: 1.3125rem;
}

.column,
.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 0.5rem;
}

.link {
    color: var(--faint-color);
    font-size: 0.875rem;
    line-height: 1.3125rem;
    text-decoration: none;
}

.link.highlighted {
    color: var(--accent-color);
}

.link:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .layoutLeft,
    .layoutRight {
        flex-grow: 1;
    }
}

@media screen and (max-width: 620px) {
    .layoutLeft {
        display: none;
    }

    .layoutRight {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }
}
