:root {
  --yellow-1100: #401D00;
  --yellow-1000: #6D3300;
  --yellow-900: #9A5500;
  --yellow-800: #C77F00;
  --yellow-700: #EBA400;
  --yellow-600: #FFBB00;
  --yellow-500: #FFC814;
  --yellow-400: #FFCD29;
  --yellow-300: #FFDA47;
  --yellow-200: #FFE066;
  --yellow-100: #FFE88A;
  --black: #000000;
  --gray-1100: #0F1114;
  --gray-1000: #17191F;
  --gray-900: #272A34;
  --gray-800: #373B49;
  --gray-700: #494F61;
  --gray-600: #656C81;
  --gray-500: #81889E;
  --gray-400: #9CA3B8;
  --gray-300: #B1B7CB;
  --gray-200: #C9CFE0;
  --gray-100: #D9DEEB;
  --white: #FFFFFF;
  --purple-1100: #1A010A;
  --purple-1000: #380318;
  --purple-900: #570427;
  --purple-800: #760639;
  --purple-700: #95074B;
  --purple-600: #B3095E;
  --purple-500: #D90F79;
  --purple-400: #FF1998;
  --purple-300: #FF36AA;
  --purple-200: #FF61C0;
  --purple-100: #FF94D7;
  --blue-1100: #01051A;
  --blue-1000: #030D38;
  --blue-900: #041757;
  --blue-800: #062376;
  --blue-700: #073295;
  --blue-600: #0942B3;
  --blue-500: #0F59D9;
  --blue-400: #1975FF;
  --blue-300: #368DFF;
  --blue-200: #61AAFF;
  --blue-100: #94CAFF;
  --orange-1100: #300A00;
  --orange-1000: #4D1101;
  --orange-900: #751B01;
  --orange-800: #9C2904;
  --orange-700: #CC3B0A;
  --orange-600: #E8490B;
  --orange-500: #F3530C;
  --orange-400: #F8641A;
  --orange-300: #FB782E;
  --orange-200: #FF924C;
  --orange-100: #FFB078;
  --red-1100: #290000;
  --red-1000: #460100;
  --red-900: #6D0400;
  --red-800: #9A0800;
  --red-700: #C50E01;
  --red-600: #DF0F04;
  --red-500: #F11C0D;
  --red-400: #FA3422;
  --red-300: #FE5644;
  --red-200: #FF7867;
  --red-100: #FF9483;
  --green-1100: #063100;
  --green-1000: #085400;
  --green-900: #097700;
  --green-800: #099900;
  --green-700: #07BC00;
  --green-600: #04D600;
  --green-500: #0FE510;
  --green-400: #24EE29;
  --green-300: #41F349;
  --green-200: #5EF467;
  --green-100: #89F391;
  --cyan-1100: #00141A;
  --cyan-1000: #002730;
  --cyan-900: #003E47;
  --cyan-800: #00565D;
  --cyan-700: #007273;
  --cyan-600: #008A84;
  --cyan-500: #07A095;
  --cyan-400: #12B6A7;
  --cyan-300: #26CCB8;
  --cyan-200: #4AE2CC;
  --cyan-100: #8BF8E6;
}