:root {
  --yellow-900: #391900;
  --yellow-850: #482100;
  --yellow-800: #5C2E00;
  --yellow-750: #733F00;
  --yellow-700: #945B00;
  --yellow-650: #B57900;
  --yellow-600: #D19600;
  --yellow-550: #E3AA00;
  --yellow-500: #F2C200;
  --yellow-450: #FBD100;
  --yellow-400: #FBD61B;
  --yellow-350: #FCDB36;
  --yellow-300: #FCE051;
  --yellow-250: #FDE56C;
  --yellow-200: #FEEA88;
  --yellow-150: #FEEFA4;
  --yellow-100: #FFF4BF;
  --black: #000000;
  --gray-950: #080809;
  --gray-900: #16171A;
  --gray-800: #33363B;
  --gray-700: #5E626A;
  --gray-600: #898E9A;
  --gray-500: #AAB0BD;
  --gray-400: #C0C5D1;
  --gray-300: #CDD3DF;
  --gray-200: #DADEE8;
  --gray-100: #E7EAF0;
  --gray-75: #EBEEF3;
  --gray-50: #F0F3F8;
  --white: #F7FAFF;
  --purple-1100: #3A0F4D;
  --purple-800: #50156A;
  --purple-700: #651B88;
  --purple-600: #7A21A5;
  --purple-500: #8E2CBF;
  --purple-400: #9F3ED1;
  --purple-300: #B158E1;
  --purple-200: #C474F0;
  --purple-100: #D894FF;
  --blue-950: #000F47;
  --blue-900: #00175C;
  --blue-850: #001F6F;
  --blue-800: #002982;
  --blue-750: #003394;
  --blue-700: #003FA9;
  --blue-650: #024FBF;
  --blue-600: #0660D4;
  --blue-550: #0E72E3;
  --blue-500: #1682ED;
  --blue-450: #2494F6;
  --blue-400: #37A6FC;
  --blue-350: #4CB5FE;
  --blue-300: #62C4FF;
  --blue-250: #78D1FF;
  --blue-200: #92DDFF;
  --blue-150: #A6E6FF;
  --blue-100: #B3ECFF;
  --orange-900: #541900;
  --orange-800: #8A2D00;
  --orange-700: #BA4100;
  --orange-600: #DB5606;
  --orange-500: #EF6A12;
  --orange-400: #FB7C22;
  --orange-300: #FF943D;
  --orange-200: #FFAC61;
  --orange-100: #FFC48A;
  --green-900: #002411;
  --green-850: #002F16;
  --green-800: #00391A;
  --green-750: #004420;
  --green-700: #004F25;
  --green-650: #005C2B;
  --green-600: #006B32;
  --green-550: #00803C;
  --green-500: #079248;
  --green-450: #1BA253;
  --green-400: #37B360;
  --green-350: #50C26E;
  --green-300: #6CCE82;
  --green-250: #7CD68F;
  --green-200: #8EDF9E;
  --green-150: #9FE6AC;
  --green-100: #B1ECBB;
  --cyan-900: #003825;
  --cyan-800: #005237;
  --cyan-700: #006B4A;
  --cyan-600: #05855D;
  --cyan-500: #0F9D74;
  --cyan-400: #24B189;
  --cyan-300: #49C3A2;
  --cyan-200: #77D6BE;
  --cyan-100: #A3E9D8;
  --red-900: #330007;
  --red-850: #400109;
  --red-800: #54020B;
  --red-750: #710410;
  --red-700: #8C0714;
  --red-650: #A10A18;
  --red-600: #B30E1C;
  --red-550: #C61623;
  --red-500: #D41E2A;
  --red-450: #DB2732;
  --red-400: #E0313A;
  --red-350: #E83C43;
  --red-300: #F04D52;
  --red-250: #F45F63;
  --red-200: #F77476;
  --red-150: #FB8A8B;
  --red-100: #FFA1A1;
}