:root {
    --base-background: var(--white);
    --header-background: var(--blue-650);
    --code-background: var(--black);

    --header-color: var(--white);

    --base-color: var(--gray-900);
    --faint-color: var(--gray-700);
    --accent-color: var(--blue-700);

    --base-color-inverted: var(--white);
    --faint-color-inverted: var(--gray-200);

    --base-outline: var(--blue-700);
    --base-outline-inverted: var(--white);

    --ocean-gradient: linear-gradient(
        160deg,
        var(--blue-600),
        var(--blue-950)
    );

    --light-theme: 1;
    --dark-theme: 0;

    color-scheme: light;
}