.helloWorld {
  display: inline-block;
  padding: 0.5rem;
  border: 0.25rem solid hsl(225deg 100% 50%);
  background: hsl(225deg 70% 18%);
  color: hsl(0deg 0% 100%);
  font-family: sans-serif;
  font-size: 2rem;
}
