.header {
  position: relative;
  display: flex;
  height: 60px;
  padding: 0.75rem 0;
  background-color: var(--header-background);
}

.headerLayout {
  display: flex;
  width: 100%;
  height: 100%;
  column-gap: 1rem;
}

.logoLink {
  display: block;
}

.logoImage {
  width: auto;
  height: 100%;
  -webkit-user-drag: none;
  user-select: none;
}

.nav {
  display: block;
  height: 100%;
}

.navList,
.iconList {
  display: flex;
  height: 100%;
  list-style: none;
}

.iconList {
  margin-left: auto;
}

.navLink,
.iconLink,
.menuOpenButton {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  border: none;
  background: transparent;
  color: var(--header-color);
  font-weight: 400;
  opacity: 0.75;
  text-decoration: none;
}

.menuOpenButton {
  display: none;
}

.menuOpenButtonIcon {
  height: 1.625rem;
  fill: currentColor;
}

.navLink:hover,
.iconLink:hover,
.menuOpenButton:hover {
  opacity: 1;
}

.menuOpenButton:active {
  transform: scale(0.9);
}

.navLink.selected {
  font-weight: 500;
  opacity: 1;
}

.iconImage {
  width: auto;
  height: 1.25rem;
}

@media screen and (max-width: 768px) {
  .headerLayout {
    justify-content: space-between;
  }

  .menuOpenButton {
    display: flex;
  }

  .nav,
  .iconList {
    display: none;
  }
}
