:root {
  --cmp-yellow-900: #391900;
  --cmp-yellow-850: #482100;
  --cmp-yellow-800: #5C2E00;
  --cmp-yellow-750: #733F00;
  --cmp-yellow-700: #945B00;
  --cmp-yellow-650: #B57900;
  --cmp-yellow-600: #D19600;
  --cmp-yellow-550: #E3AA00;
  --cmp-yellow-500: #F2C200;
  --cmp-yellow-450: #FBD100;
  --cmp-yellow-400: #FBD61B;
  --cmp-yellow-350: #FCDB36;
  --cmp-yellow-300: #FCE051;
  --cmp-yellow-250: #FDE56C;
  --cmp-yellow-200: #FEEA88;
  --cmp-yellow-150: #FEEFA4;
  --cmp-yellow-100: #FFF4BF;
  --cmp-black: #000000;
  --cmp-gray-900: #16171A;
  --cmp-gray-800: #33363B;
  --cmp-gray-700: #5E626A;
  --cmp-gray-600: #898E9A;
  --cmp-gray-500: #AAB0BD;
  --cmp-gray-400: #C0C5D1;
  --cmp-gray-300: #CDD3DF;
  --cmp-gray-200: #DADEE8;
  --cmp-gray-100: #E7EAF0;
  --cmp-gray-50: #F0F3F8;
  --cmp-white: #F7FAFF;
  --cmp-purple-1100: #3A0F4D;
  --cmp-purple-800: #50156A;
  --cmp-purple-700: #651B88;
  --cmp-purple-600: #7A21A5;
  --cmp-purple-500: #8E2CBF;
  --cmp-purple-400: #9F3ED1;
  --cmp-purple-300: #B158E1;
  --cmp-purple-200: #C474F0;
  --cmp-purple-100: #D894FF;
  --cmp-blue-900: #00175C;
  --cmp-blue-850: #001F6F;
  --cmp-blue-800: #002982;
  --cmp-blue-750: #003394;
  --cmp-blue-700: #003FA9;
  --cmp-blue-650: #024FBF;
  --cmp-blue-600: #0660D4;
  --cmp-blue-550: #0E72E3;
  --cmp-blue-500: #1682ED;
  --cmp-blue-450: #2494F6;
  --cmp-blue-400: #37A6FC;
  --cmp-blue-350: #4CB5FE;
  --cmp-blue-300: #62C4FF;
  --cmp-blue-250: #78D1FF;
  --cmp-blue-200: #92DDFF;
  --cmp-blue-150: #A6E6FF;
  --cmp-blue-100: #B3ECFF;
  --cmp-orange-900: #541900;
  --cmp-orange-800: #8A2D00;
  --cmp-orange-700: #BA4100;
  --cmp-orange-600: #DB5606;
  --cmp-orange-500: #EF6A12;
  --cmp-orange-400: #FB7C22;
  --cmp-orange-300: #FF943D;
  --cmp-orange-200: #FFAC61;
  --cmp-orange-100: #FFC48A;
  --cmp-green-900: #002411;
  --cmp-green-850: #002F16;
  --cmp-green-800: #00391A;
  --cmp-green-750: #004420;
  --cmp-green-700: #004F25;
  --cmp-green-650: #005C2B;
  --cmp-green-600: #006B32;
  --cmp-green-550: #00803C;
  --cmp-green-500: #079248;
  --cmp-green-450: #1BA253;
  --cmp-green-400: #37B360;
  --cmp-green-350: #50C26E;
  --cmp-green-300: #6CCE82;
  --cmp-green-250: #7CD68F;
  --cmp-green-200: #8EDF9E;
  --cmp-green-150: #9FE6AC;
  --cmp-green-100: #B1ECBB;
  --cmp-cyan-900: #003825;
  --cmp-cyan-800: #005237;
  --cmp-cyan-700: #006B4A;
  --cmp-cyan-600: #05855D;
  --cmp-cyan-500: #0F9D74;
  --cmp-cyan-400: #24B189;
  --cmp-cyan-300: #49C3A2;
  --cmp-cyan-200: #77D6BE;
  --cmp-cyan-100: #A3E9D8;
  --cmp-red-900: #330007;
  --cmp-red-850: #400109;
  --cmp-red-800: #54020B;
  --cmp-red-750: #710410;
  --cmp-red-700: #8C0714;
  --cmp-red-650: #A10A18;
  --cmp-red-600: #B30E1C;
  --cmp-red-550: #C61623;
  --cmp-red-500: #D41E2A;
  --cmp-red-450: #DB2732;
  --cmp-red-400: #E0313A;
  --cmp-red-350: #E83C43;
  --cmp-red-300: #F04D52;
  --cmp-red-250: #F45F63;
  --cmp-red-200: #F77476;
  --cmp-red-150: #FB8A8B;
  --cmp-red-100: #FFA1A1;
}